@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  background: url("../img/fondo.png");
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #868484;
}

img {
  width: 80%;
  height: auto;
}

nav, .presentacion {
  width: 80%;
  margin: auto;
}

.presentacion {
  margin-bottom: 10%;
}

p {
  font-size: 1.8rem;
  color: #868484;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.btn, .btn-principal, .btn-secundario {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms;
}

.btn:hover, .btn-principal:hover, .btn-secundario:hover {
  transform: scale(1.1);
}

.btn-principal {
  color: #fff;
  background-color: #6495ED;
}

.btn-secundario {
  background-color: #868484;
}

.ejemplo {
  font-size: 55px;
}

.logo {
  width: 100px;
  height: 20px;
}

header {
  position: fixed;
  top: 0;
  border-top: 30px solid #343533;
  width: 100%;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul a {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

nav ul a:hover {
  color: #6495ED;
  transform: scale(1.1);
}

.presentacion {
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.presentacion .flex-item2 {
  text-align: center;
}

.presentacion h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 6rem;
  font-family: 'Pacifico', cursive;

}

.presentacion p {
  padding-right: 20px;
  padding-bottom: 10px;
}


@media (min-width: 1400px) {
  nav,.presentacion {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .presentacion{
    flex-direction: column;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  nav ul {
    padding-left: 0;
  }
}

@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  .presentacion div h1, .presentacion div p {
    padding: 0;
  }
}
.title_delicius {
  font-weight: bold;
  color: black;
  font-size: 30px;
  text-align: center;
}

.card-main{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.cards {
  flex: 0 0 300px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  /* padding: 10px; */
  padding-bottom: 40px;
}
.cards img{
  width: 100%;
  height: 40%;
  max-width: 100%;

}
.cards .text{
  padding: 0 20px 30px;
}
.cards button{
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  margin: 0px;
}