@import "global";
.logo {
  width: 100px;
  height: 20px;
}

header {
  position: fixed;
  top: 0;
  border-top: 30px solid rgb(52, 53, 51);
  width: 100%;
}

nav {
  @include caja-flex(space-between, center, nowrap);

  ul {
    display: flex;
    padding: 0;

    a {
      padding: 10px;
      font-size: 1.6rem;
      font-weight: bold;
    }

    a:hover {
      color: #6495ed;
      transform: scale(1.1);
    }
  }
}

.presentacion {
  padding-top: 200px;
  padding-bottom: 50px;
  @include caja-flex(space-between, center, nowrap);

  .flex-item2 {
    text-align: center;
  }

  h1 {
    margin-top: 0;
    padding-right: 20px;
    font-size: $font-h1;
  }

  p {
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

@import "medios";
